<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.cqu.surveyapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".step1"
            android:label="Survey: step 1">
        </activity>
        <activity android:name=".step2"
            android:label="Survey: step 2">
        </activity>
        <activity android:name=".step3"
            android:label="Survey: step 3">
        </activity>
        <activity android:name=".step4"
            android:label="Survey: step 4">
        </activity>
        <activity android:name=".step5"
        android:label="Survey: step 5">
        </activity>
        <activity android:name=".step6"
            android:label="Survey: step 6">
        </activity>
        <activity android:name=".step7"
            android:label="Survey: step 7">
        </activity>
        <activity android:name=".step8"
            android:label="Survey: step 8">
        </activity>
        <activity android:name=".step9"
            android:label="Survey: step 9">
        </activity>
        <activity android:name=".step10"
            android:label="Survey: step 10">
        </activity>
        <activity android:name=".step11"
            android:label="Survey: step 11">
        </activity>
        <activity android:name=".step12"
        android:label="Survey: step 12">
        </activity>
        <activity android:name=".step13"
            android:label="Survey: step 13">
        </activity>
        <activity android:name=".step14"
            android:label="Survey: step 14">
        </activity>

    <activity android:name=".stepf"
        android:label="Survey: step Done">
    </activity>

    </application>

</manifest>